h1 {
    text-align: center;
    margin: 25px 0 0;
}

body {
    min-width: 200px;
}

.error-message {
    text-align: center;
}

.forms {
    max-width: 800px;
    margin: 0 auto;
}

.detail-title {
    margin: 25px 0 5px;
}

.detail-year {
    text-align: center !important;
    color: rgb(84, 84, 84) !important;
    font-size: 20px;
    margin: 5px 0 20px;
}

.car-info {
    margin: 0 auto;
}

.comments {
    margin-top: 45px;
}

.button-link {
    color: white !important;
    text-decoration: none;
}

.btn {
    margin: 3px 1px !important;
}

.btn-footer-add-comment {
    margin: 3px 4px !important;
}

.comment-block {
    margin-bottom: 40px;
}

.comment-author, .comment-content, .comment-date {
    margin: 0;
}

.comment-date {
    color: gray;
}

.d-flex-btn {
    margin-left: 4px !important;
}

.buttons {
    margin-top: 40px;
}

.car-description {
    white-space: pre-line;
    margin: 0 0 10px;
}

.btn-logout {
    margin: 0 0 10px !important;
}